body {
	margin: 0px;
}

#dust {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

#daytimeForestBackground {
	background-image: url("../images/misty.forest.day.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
