body, html {
  height: 100%;
  margin: 0;
}

.firefly {
  width:2px;
  height:2px;
  position:absolute;
  background-color: grey;
  box-shadow:0px 0px 7px 2px wheat;
  border-radius: 0%;
}

.container {
  position: relative;
  background-image: url("../images/misty-forest-day.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
